{{define "content"}}
<div class="newline">
	<div class="left">
		<h1>项目内容</h1>
	</div>
	<div class="right">
		<p>Paluta项目是由一小群玩家发起的我的世界生存模式的建造项目，以在游戏中建成各种规模的城市为主要目的。</p>
		<p>项目第一阶段由位于高度150的巨大主岛构成。岛上主要建筑为主堡，中心广场，及主岛传送门。</p>
		<p>项目的后续阶段将会进行卫星岛及地下都市的建造。<p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h1>主要玩家</h1>
	</div>
	<div class="right">
		<p>argoran - 服务器管理员，主要建筑：管公馆</p>
		<p>shangalar - 建筑师，主要建筑：主堡</p>
		<p>xaliver - 建筑师<p>
		<p>其他玩家 - ann</p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h1>服务器版本</h1>
	</div>
	<div class="right">
		<p>CraftBukkit 1.4.7</p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h1>插件版本</h1>
	</div>
	<div class="right">
		<p>HelloWorldPlugin 1.0.2</p>
		<p><a href="https://github.com/YPZhou/HelloWorldPlugin">GitHub</a></p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h1>中文支持</h1>
	</div>
	<div class="right">
		<p>服务器端以完成中文输入的配置，使用任何支持中文输入的客户端登录游戏即可。</p>
		<p>中文输入的配置会因客户端而存在差异，请自行在网上寻找有效的解决方案。</p>
	</div>
</div>
{{end}}