{{define "content"}}
<div class="newline">
	<div class="left">
		<h3>项目内容</h3>
	</div>
	<div class="right">
		<p>Paluta项目是由一小群玩家发起的我的世界生存模式的建造项目，以在游戏中建成各种规模的城市为主要目的。</p>
		<p>项目第一阶段由位于高度150的巨大主岛构成。岛上主要建筑为主堡，浮岛火车站，母马横幅旅店。浮岛与地面的通道由黄金十二宫镇守。</p>
		<p>项目的后续阶段将会进行卫星岛及地下都市的建造。<p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h3>主要玩家</h3>
	</div>
	<div class="right">
		<p>argoran - 服务器管理员</p>
		<p>shangalar - 玩家</p>
		<p>crystz - 玩家</p>
		<p>xaliver - 玩家</p>
		<p>mickuto - 玩家</p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h3>服务器版本</h3>
	</div>
	<div class="right">
		<p>CraftBukkit 1.5.1</p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h3>插件版本</h3>
	</div>
	<div class="right">
		<p>HelloWorldPlugin 1.0.4</p>
		<p><a href="https://github.com/YPZhou/HelloWorldPlugin">GitHub</a></p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h3>中文支持</h3>
	</div>
	<div class="right">
		<p>服务器端已完成中文输入的配置，使用任何支持中文输入的客户端登录游戏即可。</p>
		<p>中文输入的配置会因客户端而存在差异，请自行在网上寻找有效的解决方案。</p>
	</div>
</div>
{{end}}