{{define "content"}}
<div class="newline">
	<div class="left">
		<h3>加入建造</h3>
	</div>
	<div class="right">
		<p>由于服务器资源的限制，Paluta项目在接受新成员时会采取手动的申请及审核机制。</p>
		<p>申请加入请联系 argoran@gmail.com，在邮件中请附上简短的自我介绍，包括性别、年龄、在线时间、以及想要建造的内容。</p>
		<p>一旦申请被接受，我们会将服务器的地址以邮件的方式发送给您。</p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h3>加入开发</h3>
	</div>
	<div class="right">
		<p>插件的共同开发目前以fork+pull模式进行。关于该模式的说明请参考：<a href="https://help.github.com/articles/using-pull-requests">如何使用pull requests</a></p>
		<p>项目地址：<a href="https://github.com/YPZhou/HelloWorldPlugin">GitHub</a></p>
	</div>
</div>
{{end}}