{{define "content"}}
<div class="newline">
	<div class="left">
		<h3>项目进度</h3>
	</div>
	<div class="right">
		<p>主堡 作者 shangalar 进度 完成</p>
		<p>中心广场 作者 argoran 进度 完成</p>
		<p>管公馆 作者 argoran 进度 完成</p>
		<p>雪屋 作者 argoran 进度 完成</p>
		<p>钟楼 作者 crystz 进度 完成</p>
		<p>母马横幅 作者 crystz 进度 完成</p>
		<p>兵营 作者 crystz 进度 完成</p>
		<p>黄金十二宫 作者 crystz 进度 完成</p>
		<p>集市 作者 argoran 进度 完成</p>
		<p>浮岛铁路系统 作者 shangalar 进度 建造中</p>
	</div>
</div>
<div class="newline">
	<div class="left">
		<h3>插件进度</h3>
	</div>
	<div class="right">
		<p>已完成 伤害显示 传送 浮岛守护</p>
		<p>开发中 自动替换损坏工具</p>
		<p>计划 身份验证 留言系统</p>
	</div>
</div>
{{end}}